.slider {
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.slider__track {
	display: flex;
	transition: transform .7s ease;
}

.slider__track img {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 100%;
}

.slider__item {
	position: relative;
	z-index: 1;
}

.slider__content {
	background-color: rgba(255, 255, 255, .15);
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	padding: 10px 20px;
	z-index: 2;
}

.slider__text--light {
	background-color: rgba(0, 0, 0, .15);
	color: #f1f1f1;
}

.slider__title {
	font-size: 18px;
	font-weight: 600;
}

.slider__dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 15px;
}

.slider__dot {
	background-color: rgba(0, 0, 0, .07);
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 0 5px;
}

.slider__dot:hover {
	background-color: rgba(0, 0, 0, 0.12);
}

.slider__dot.is-active {
	background-color: rgba(0, 0, 0, 0.5);
}

.slider__nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.slider__nav-prev,
.slider__nav-next {
	background-color: #333333;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	min-width: 90px;
	padding: 8px 12px;
	cursor: pointer;
	transition: all .3s ease, transform .1s ease;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
}

.slider__nav-prev:hover,
.slider__nav-next:hover {
	background-color: #555555;
}

.slider__nav-prev:active,
.slider__nav-next:active {
	transform: translateY(1px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.slider__nav-prev {
	margin-right: 20px;
}