@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}
body {
	background-color: #f1f2f3;
	color: #333333;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	padding-top: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

h2 {
	font-size: 26px;
	line-height: 1.4;
	margin: 0 0 20px;
}

p {
	margin-top: 0;
	margin-bottom: 15px;
}

.header {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	height: 80px;
	box-shadow: 0 6px 15px rgba(0, 0, 0, .15);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9000;
}

.header__inner,
.footer__inner,
.main__inner {
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
}

.header h1 {
	font-size: 20px;
	line-height: 1.3;
	margin: 0;
}

.main {
	flex: 1 0 auto;
	padding-bottom: 60px;
}

.footer {
	display: flex;
	align-items: center;
}

.footer__content {
	padding: 20px 0;
	border-top: 1px solid #ddd;
}

.footer__copy {
	font-size: 13px;
	font-weight: 400;
}

.footer p:last-child {
	margin: 0;
}

@media (min-width: 576px) {
	.header h1 {
		font-size: 26px;
	}
}
@media (min-width: 768px) {
	.header h1 {
		font-size: 30px;
	}
}